* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(248, 244, 158); 
    background-image: url("assets/img/fondo2.jpg");
    background-size: cover;         /* Hace que la imagen cubra toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que se repita */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }

  .navbar {
    display: flex;
    justify-content: space-between; /* logo a la izq, nav a la der */
    align-items: center;
    padding: 10px 20px;
  }
  
  .aNav {
    text-decoration: none;
    color: rgb(255, 2, 108);
    font-weight: bold;
    padding: 10px;
  }
  
  .imgContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 0px 50px;
  }

  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  h1 {
    color: rgb(43, 117, 255);
    padding: 20px;
    text-align: center;
  }
  h2 {
    color: orangered;
    padding: 50px;
  }
  p {
    column-count: 2;
    text-align: justify;
    width: 80%;
    margin: 40px auto;
    font-size: 25PX;
    line-height: 1.6;
    color: black;
  }
  .formulario { 
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid;
    font-size: 16px;
    background-color: #fff;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 10px 0;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 800px;
  }
  header nav ul li{
    margin: 0 15px;
  }
  header nav ul li a{
    text-decoration: none;
    color: rgb(255, 2, 108);
    font-weight: bold;
    font-size: 18px;
  }
  header nav ul li a:hover {
    color: rgb(43, 117, 255);
    text-decoration: underline;
  }
  main{
  max-width: 1000px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20 px rgba(0, 0, 0, 0.1);
  }
  main section {
    margin-bottom: 40px;
  }
  main h2{
    color:orangered;
    font-size: 28px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255, 2, 108, 0.3);
    padding-bottom: 5px;
  }
  main p, main li{
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  }
  main ul {
    padding-left: 110px;
  }
  main ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }